/* Variables de colores */
:root {
    --clr-main: #45880e;
    --clr-main-light: #73ff00;
    --clr-white: #fff7e5;
    --clr-gray: #e2e2e2;
    --clr-crema: #fff7e5;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: var(--clr-main);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0.5rem;
}

/* Contenedor principal */
.layout {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    max-width: 120rem;
    padding: 1rem;
    background-color: var(--clr-main);
    padding: 0;
}

.contenedor {
    flex: 3;
    background-color: var(--clr-crema);
    border-radius: 3em;
    overflow: hidden;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    margin: 0;
}

main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

main h2 {
    color: var(--clr-main);
    font-size: 1.8rem;
    text-align: center;
}

.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
    min-height: 90vh;
}

.header-mobile .logo {
    display: none; /* Ocultar solo el CarbaShop de la izquierda */
}

/* Con esto giramos el dedo de la mano a la derecha*/
.boton-menu .bi-hand-index-thumb {
    transform: rotate(90deg);  /*Realizamos un giro de 90º*/
    display: inline-block; }


/* Producto */
.producto {
    background-color: var(--clr-white);
    
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Alineamos el contenido al inicio */
    height: auto; /* Le ponemos una altura automática */
}


.producto-detalles {
    background-color: var(--clr-main);
    color: var(--clr-crema);
    padding: 0.5rem; 
    border-radius: 1rem
}

.producto-titulo, .producto-precio {
    font-size: 1rem;
    font-weight: bold; /*Creo que es en negrita o así lo percibí yo*/
    color: var(--clr-crema);
    margin: 0.05rem 0; 
}

.producto-agregar {
    background-color: var(--clr-white);
    color: var(--clr-main);
    border: none;
    border-radius: 1rem;
    padding: 0.4rem 1rem;
    font-size: 0.8rem; 
    cursor: pointer;
    margin-top: 0.25rem; 
}

.producto-agregar:hover {
    background-color: var(--clr-main-light);
    color: var(--clr-main);
}

/* Menú lateral derecho */
.aside-visible {
    flex: 1;
    background-color: var(--clr-main);
    color: var(--clr-white);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
}

.aside-visible .logo {
    display: block;
    color: var(  --clr-white);
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 8rem;
    margin-top: 0.5rem; 
}

.aside-visible nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.boton-menu {
    width: 100%;
    padding: 0.625rem;
    color: var(--clr-white);
    background-color: var(--clr-main);
    border: none;
    font-size: 1rem;
    text-align: left;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

.boton-menu:hover, .boton-menu.active {
    background-color: var(--clr-crema);
    color: var(--clr-main);
}



/* Ocultamos el menú lateral izquierdo y el botón de cerrar */
.header-mobile {
    display: none; 
}

#close-menu {
    display: none; 
}

.logo {
    display: none;
}

.numerito {
    background-color: var(--clr-white);
    color: var(--clr-main);
    font-weight: bold;
    padding: 0.125rem 0.375rem;
    border-radius: 50%;
    margin-left: auto;
}

.texto-footer {
    font-size: 0.85rem;
    text-align: left;
    color: var(--clr-main-light);
    padding-top: 60rem;

}


/* Media Query para 850px */
@media screen and (max-width: 850px) {
    .contenedor-productos {
        grid-template-columns: repeat(3, 1fr); 
        gap: 1rem; 
    }

    .aside-visible {
        padding: 1rem;
    }

    .boton-menu {
        font-size: 0.9rem;
        padding: 0.5rem;
    }
}

/* Media Query para 675px */
@media screen and (max-width: 675px) {
    .contenedor-productos {
        display: flex;
        flex-direction: column;
        align-items: center; 
        gap: 1rem;
        padding: 0.5rem;
    }

    .producto {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
        border-radius: 0.5rem;
        padding: 1rem;
        background-color: var(--clr-white);
    }

    .producto img {
        width: 100%;
        height: auto;
        max-height: 200px;
        object-fit: contain;
    }

    /* Mostramos el texto "CarbaShop" a la izquierda */
    .header-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 1rem;
        background-color: var(--clr-main);
        color: var(--clr-crema);
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
    }

    .header-mobile .logo {
        display: block;
        font-size: 1.3rem;
        font-weight: bold;
        color: var(--clr-main-light);
    }

    
    .header-mobile button {
        background: none;
        border: none;
        color: var(--clr-crema);
        font-size: 1.5rem;
        cursor: pointer;
    }

    
    .aside-visible {
        display: none;
        position: fixed;
        top: 0;
        right: 0; 
        width: 70%;
        height: 100%;
        background-color: var(--clr-main);
        box-shadow: -0.125rem 0 0.25rem rgba(0, 0, 0, 0.1);
        z-index: 1000;
        padding: 2rem 1rem;
        flex-direction: column;
        gap: 1.5rem;
    }

   
    .aside-visible.open {
        display: none;
    }

    .aside-visible .boton-menu {
        background-color: transparent;
        color: var(--clr-white);
        text-align: left;
        font-size: 1rem;
        padding: 0.75rem 1rem;
        border: none;
        cursor: pointer;
    }

    .aside-visible .boton-menu:hover {
        background-color: var(--clr-crema);
        color: var(--clr-main);
    }
}


/* Media Query para 400px */
@media screen and (max-width: 400px) {
    .contenedor {
        border-radius: 1rem;
        margin: 0.5rem;
        padding: 0.5rem;
    }

    .contenedor-productos {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        gap: 1rem; 
    }

    .producto {
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center; 
        width: 100%; 
        max-width: 300px; 
        margin: 0 auto; 
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
        border-radius: 0.5rem;
        padding: 1rem;
        background-color: var(--clr-white);
    }

    .producto img {
        width: 100%; 
        height: auto; 
        object-fit: contain; 
        max-height: 200px; 
    }

    .producto-detalles {
        background-color: var(--clr-main);
        color: var(--clr-crema);
        padding: 0.8rem;
        text-align: center;
        border-radius: 0.5rem;
        width: 100%;
    }

    .producto-titulo,
    .producto-precio {
        font-size: 1rem;
        margin: 0.5rem 0;
    }

    .producto-agregar {
        font-size: 0.9rem;
        padding: 0.5rem 1rem;
        margin-top: 0.5rem;
    }

    /* Menú Superior */
    .header-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--clr-main);
        padding: 0.5rem 1rem;
        color: var(--clr-crema);
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
    }

    .header-mobile .logo {
        font-size: 1.3rem;
        font-weight: bold;
        color: var(--clr-main-light);
    }

    .header-mobile button {
        background: none;
        border: none;
        color: var(--clr-crema);
        font-size: 1.5rem;
        cursor: pointer;
    }

    .aside-visible {
        display: none; /* Ocultamos el menú lateral */
    }
}